* {
    primary: #adc6ff;
    primary-fixed: #d8e2ff;
    primary-fixed-dim: #adc6ff;
    on-primary: #002e69;
    on-primary-fixed: #001a41;
    on-primary-fixed-variant: #004493;
    primary-container: #3365b8;
    on-primary-container: #ffffff;
    secondary: #b6c6ed;
    secondary-fixed: #d8e2ff;
    secondary-fixed-dim: #b6c6ed;
    on-secondary: #20304f;
    on-secondary-fixed: #091b39;
    on-secondary-fixed-variant: #374767;
    secondary-container: #394969;
    on-secondary-container: #dae4ff;
    tertiary: #f4aeff;
    tertiary-fixed: #fdd6ff;
    tertiary-fixed-dim: #f4aeff;
    on-tertiary: #510f62;
    on-tertiary-fixed: #340042;
    on-tertiary-fixed-variant: #6b2b7a;
    tertiary-container: #8f4c9d;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #111319;
    on-surface: #e2e2e9;
    on-surface-variant: #c3c6d3;
    outline: #8d909d;
    outline-variant: #434751;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e2e2e9;
    inverse-on-surface: #2e3036;
    inverse-primary: #285caf;
    surface-dim: #111319;
    surface-bright: #37393f;
    surface-container-lowest: #0c0e13;
    surface-container-low: #191b21;
    surface-container: #1d2025;
    surface-container-high: #282a30;
    surface-container-highest: #33353a;
}
