// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@import 'dashboard';



window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  > centerbox {
    background: $bg-color;
    margin: 0px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
